{% extends "layout.html" %}
{% block content %}
  <div class="content-wrapper">
    <div class="search-engine-wrapper">
      <div class="text-wrapper">
        <div class="section-header"><h1>WBSO Search Engine</h1></div>
        <div class="section-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id omnis inventore maxime, tempora tempore voluptate, quas ipsa repudiandae dolorum neque harum quibusdam? Maiores nemo dignissimos iusto velit, et aspernatur.</div>
      </div>
      
      <div class="form-wrapper">
        <form>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima rem ipsa sapiente sint quod iusto consectetur possimus, expedita dignissimos! Iusto vel ipsum fugiat sed itaque debitis dignissimos ipsa rerum magni.
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
