<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name="description" content="At Evolvalor we help innovative organizations increase their growth by providing hands-on services. Find out what we can do for your business.">
  <link rel="icon" href="/static/images/evolvalor-faviconDonker.png">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles.css">
  <title>Evolvalor | We Help Growing Innovative Businesses</title> 
</head>

<body>
  <div class="container">
    <div class="nav-wrapper">

      <div class="left-side">
        <div class="brand">
          <img style="max-height: 50px" alt="logo evolvalor" src="/static/images/logo.png">
        </div>
      </div>

      <div class="right-side">
        <div class="nav-link-wrapper">
          <a href="https://evolvalor.com/passion/">Passion</a>
        </div>

        <div class="nav-link-wrapper">
          <a href="https://evolvalor.com/strategy/">Strategy</a>
        </div>

        <div class="nav-link-wrapper">
          <a href="https://evolvalor.com/funding/">Funding</a>
        </div>

        <div class="nav-link-wrapper active-nav-link">
          <a href="#">WBSO Tool</a>
        </div>

        <div class="nav-link-wrapper">
          <a href="https://evolvalor.com/about/">About</a>
        </div>

        <div class="nav-link-wrapper">
          <a href="https://evolvalor.com/contact/">Contact</a>
        </div>
        
        <div class="nav-link-wrapper">
          <a href="tel:0031854014704">Call +31 (0) 85 4014 704</a>
        </div>

      </div>

    </div>

    <div class="content-wrapper">
      <div class=""
      <div class="text-wrapper">
        <div class="section-header">WBSO Search Engine</div>
        <div class=""
      </div>



      <div class="portfolio-items-wrapper">

        <div class="portfolio-item-wrapper">
          <div class="portfolio-img-background" style="background-image:url(images/portfolio1.jpg)"></div>

          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="images/logos/quip.png" alt="">
            </div>

            <div class="subtitle">I built the Quip Ecommerce platform, named a Top 25 Invention by Time Magazine in 2016.</div>
          </div>

        </div>

      </div>

    </div>
  </div>

</body>
</html>
