.body {
  overflow-x: hidden;
	font-size: 1em;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Lato regular, 'Helvetica', 'Arial', sans-serif;
  color: #666666;
  font-weight: 400;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
}

.section {
  background-color: #666666;
}


.org-logo {
  display: block;
  width: 10%; 
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.navbar {
  width: 80%;
  text-align: right;
  display: inline-block;
  
}

.container {
  margin-right: auto;
  margin-left: auto;
}

#menu-hoofdmenu li {
	display: inline-block;
	list-style-type: none;
}

.menu-item a {
  text-decoration: none;
  float: left;
  text-size-adjust: 100%;
  text-align: right;
}

ul#menu-hoofdmenu li a {
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600 !important;
  margin-left: 20px;
  opacity: 0.5;
}

ul#menu-hoofdmenu li a:hover {
  opacity: 1.0;
}

h2 {
  color: rgb(37, 37, 37);
  font-family: "Clarendon Text Pro";
  font-size: 45px;
  font-variant-ligatures: common-ligatures;
  font-weight: 300;
  letter-spacing: 2px;
  text-size-adjust: 100%;
  line-height: 45px;
}

hr {
  border: 0;
  height: 1px;
  background: rgb(116, 116, 116);
  background-image: -webkit-linear-gradient(left, #ccc, rgb(116, 116, 116), #ccc);
  background-image: -moz-linear-gradient(left, #ccc, rgb(116, 116, 116), #ccc);
  background-image: -ms-linear-gradient(left, #ccc, rgb(116, 116, 116), #ccc);
  background-image: -o-linear-gradient(left, #ccc, rgb(116, 116, 116), #ccc);
}

#main-container {
  display: block;
  margin-bottom: 15px;
  font-family: "Clarendon Text Pro";
}

#body-title {
  width: 50%;
  display: block;
  float: left;
}

#body-text {
  display: inline-block;
  width: 50%;
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.contact-button {
  display: table;
  margin: 0 auto;
}