{% extends "layout.html" %}

{% block body %}
  <div class="row">
    <div class="wrp" id="body-text">
      <p><span>Here is the text about the tool</span></p>
    </div>
  </div>

  <div class="wbso-tool" style="margin-left: 18px; margin-right: 18px; padding-left: 30px; padding-right: 15px; display: block;">
    <div class="wbso-tool input-field" style="width: 50%; display: block; float: left;">
      <form>
        <textarea name="message" placeholder="Enter Your Message Here" cols=50> {{ input_text }} </textarea>
        <br/>
        <input type="submit" class="btn-info" value="Predict" style="font-family: Clarendon Text Pro; font-size: 14px">
      </form>  
    </div>

    <div class="wbso-tool output-field" style="width: 50%; display: block; float: right;">
        <textarea name="gen_text" placeholder="Output of model" cols=50 style="border: none;"> {{ gen_text }} </textarea>
    </div>
  </div>
{% endblock %}
