/* Master styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato regular, sans-serif";
}

h1 {
  color: rgb(37, 37, 37);
  font-family: "Clarendon Text Pro";
  font-size: 38px;
  font-variant-ligatures: common-ligatures;
  font-weight: 300;
  letter-spacing: 2px;
  text-size-adjust: 100%;
  line-height: 45px;
}

h3 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

/* Navbar style */
.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.left-side {
  flex: 2;
}

.brand {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.right-side {
  display: flex;
  flex: 4;
  justify-content: center;
}

.nav-wrapper > .right-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

#call:hover {
  border-bottom: 1px solid #FFC809;
}

/* Search engine form styling */
.content-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

/* Search engine results styling */
.search-engine-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.text-wrapper {
  padding: 20px;
}

.search-input-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.search-ouput {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.search-output-section {
  flex: 1;
  padding: 20px;
  margin: 30px;
}

/* Footer styling */
.footer-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-contact-us {
  background-color: #FFC809;
}

.footer-contact-us-text {
  margin-top: 35px;
}

.contact-btn {
  margin-top: 20px;
  margin-bottom: 15px;
}

.contact-btn > button {
  border-radius: 5px;
}

.contact-btn > button > a {
  margin: 15px 10px 15px 10px;
  text-decoration: none;
}

.footer-contact-wrapper {
  align-content: center;
  background-color: #1f1f1f;
}

.footer-contact-image {
  padding-top: 30px !important; 
}

.footer-contact-text {
  padding: 15px;
}

@media screen and (max-width: 1200px) {
  .nav-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .nav-wrapper {
    flex-direction: row;
  }
  
  .right-side {
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
  }

  .nav-link-wrapper {
    width: fit-content;
  }

  .nav-link-wrapper > a {
    text-align: right;
  }

  .left-side {
    text-align: left;
  }

  .search-engine-wrapper {
    flex-basis: 90%;
  }
}
